.test-container {
  display: grid;
  grid-row-gap: 0.5rem;
  justify-items: stretch;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.answer-container {
    display: grid;
    grid-template-columns: auto;
}

.movie-quotes-title-container {
  background-color: aqua;
  color: red;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.answered {
  font-size: 1.3rem;
  color: green;
}

.answer:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

mat-select {
  width: 100%;
}

.submit-button {
  width: 100%;
  position: sticky;
  bottom: 0;
}

// @media (min-width: 768px) and (max-width: 1023px) {
//   .test-container {
//     grid-template-columns: 50% 50%;
//   }
//   .answer-container {
//       grid-template-columns: auto;
//   }
// }

// @media (min-width: 1024px) {
//   .test-container {
//     grid-template-columns: 33% 33% 33%;
//   }
// }
