<mat-card class="container">
    <mat-card-header>
        <mat-card-title>
            Your Score
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="score">
            <div>{{ score | percent }}</div>
        </div>
        <div class="row">
            <div>Remaining</div>
            <div>{{ dataService.movies.length }}</div>
        </div>
        <div class="row">
            <div>Correct</div>
            <div>{{ dataService.numberCorrect }}</div>
        </div>
    </mat-card-content>
</mat-card>